{% extends "base.html" %}

{% block content %}
<div class="main">
    <h1>Каталог букетов</h1>
    <div class="card_container">
        {% for flower in flowers %}
            <div class="flower" flower-id="{{flower[0]}}">
                <img class="flower_image" src="{{flower[3]}}" alt="" style="width: 140px;">
                <h3 class="flower_name"> {{flower[2]}}</h3> 
                <h5  class="flower_price">{{flower[1]}} ₽</h5>
                {% set is_in_cart = flower[0] in cart | map(attribute='b_id') | list %}
                {% if is_in_cart %}
                    <h5 class="message_after_insert" id="message_after_insert">{{session['message_after_insert']}}</h5>
                {% else %}
                <div class="add_to_cart">
                        <button id="button_to_cart" class="button_to_cart" ><i class="fa-solid fa-circle-plus"> </i> В корзину</button>
                </div>    
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
