{% extends "base.html" %}
    {% block content %}
    <div class="requests">
        <h1 class="title">{{prod_title}}</h1>
        <div class="request_container">
        <table >
            <table>
                <thead>
            <tr >
                <td>Дата заказа</td>
                <td>Цена</td>
                <td>id букета</td>
                <td>Курьер</td>
                <td>Клиент</td>
            </tr>
        </thead>
        <tbody>
                {% for courier in couriers %}
                    <tr>   
                        <td>{{courier[1]}}</td>
                        <td>{{courier[2]}}</td>
                        <td>{{courier[3]}}</td>
                        <td>{{courier[4]}}</td>
                        <td>{{courier[5]}}</td>
                    </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
    <div class="button_conteiner">
        <a class="home1" href="{{url_for('query_bp.main_workers')}}">Главная страница</a>
    </div>
</div>
{% endblock %}