{% extends "base.html" %}
    {% block content %}
    <div class="requests">
        <h1 class="title">{{prod_title}}</h1>
        <table>
            <table>
                <thead>
                    <tr >
                        <td>Номер заказа</td>
                        <td>Дата заказа</td>
                        <td>Цена</td>
                        <td>Клиент</td>
                        <td>Курьер</td>
                        <td>Дата доставки</td>
                        <td>Адрес доставки</td>
                    </tr>
                </thead>
                <tbody>
                {% for worker in workers %}
                    <tr>   
                        <td>{{worker[0]}}</td>
                        <td>{{worker[1]}}</td>
                        <td>{{worker[2]}}</td>
                        <td>{{worker[3]}}</td>
                        {% if worker[4] %}
                            <td>{{couriers[0][0]}}</td>
                        {% else %}
                            <td>
                                <form action="{{ url_for('query_bp.save_couriers', order_id = worker[0])}}" method="post">
                                    <select name="courier" id="courier">
                                        <option value="">--Выбирете Курьера--</option>
                                        {% for courier in all_couriers %}
                                            <option name="couriers_{{courier[1]}}" value="{{courier[1]}}">{{courier[0]}}</option>
                                        {% endfor %}
                                    </select>
                                    <input type="hidden" value="{{worker[0]}}" name="order_id">
                                    <button class="button_conteiner" type="submit">Подтвердить</button>
                                </form>
                            </td>
                        {% endif %}
                        <td>{{worker[5]}}</td>
                        <td>{{worker[6]}}</td>
                        <td>{{worker[7]}}</td>
                    </tr> 
                {% endfor%}
            </tbody>
        </table>
        
        <div class="button_conteiner"><a class="home1" href="{{url_for('query_bp.seller')}}">Вернуться обратно</a></div>
        
    </div>
{% endblock %}