.burger-menu {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #013220;
    border-radius: 50px;
    padding: 5px;
  }
  
  .burger {
    position: relative;
    padding: 5px;
    border: none;
    width: 40px;
    height: 26px;
    background-color: #013220;
  }
  .burger::before,
  .burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background: #ffffff;
    
  }
  .burger::before {
    top: 0;
    box-shadow: 0 11px 0 #ffffff;
  }
  .burger::after {
    bottom: 0;
    
  }
  .burger::before {
  transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}
.burger::after {
  transition: bottom .3s .15s, transform .3s;
}
.burger.active::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0,0,0,0);
  transition: box-shadow .15s, top .3s, transform .3s .15s;
}
.burger.active::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom .3s, transform .3s .15s;
  
}
  
  .menu {
    display: none;
    padding: 10px;
    background: rgb(255, 255, 255);
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    border-radius: 10px;
    text-align: left;
    width: auto;
    margin-top: 5px;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu ul li {
    margin: 10px ;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  .burger.open + .menu {
    display: block;
  }
  