<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flower Delivery</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/styles.css' )}}">
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/fonts.css' )}}">
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/checkbox.css' )}}">
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/burger.css' )}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/dbff4aec26.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.ico') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
   
    <div class="head"> 
        <div class="left_selection">
            <div class="emblema">
                <i class="fa-solid fa-fan"> Floral Shop </i> :
            </div>
            <!-- {%  if session['user_group'] == 'user' %}
            <div class="burger-menu">
                <button class="burger" id="burgerButton">
            </button>
                <nav class="menu">
                  <ul>
                    <li><a href="#flowers">Цветы</a></li>
                    <li><a href="#bouquets">Букеты</a></li>
                    <li><a href="#accessories">Аксессуары</a></li>
                  </ul>
                </nav>
              </div>
             {% endif %}  -->
            {% if session['user_group'] == 'worker' or session['user_group'] == 'courier' or session['user_group'] == 'manager' or  session['user_group'] == 'seller'%}
                <a class="main_header" href="{{ url_for('query_bp.main_workers') }}">Главная страница</a>
            {% else %}
                <a class="main_header" href="{{ url_for('shop_bp.main_shop') }}"><i class="fa-solid fa-house"></i></a>
            {% endif %}
            {% if session['user_group'] == 'user' %}
                <a class="cart_hedaer" href="{{ url_for('shop_bp.cart')}}"><i class="fa-solid fa-basket-shopping"></i></a>
            {% endif %}
            {% if session['user_group'] == 'user' %}
                <a class="cart_hedaer" href="{{ url_for('shop_bp.my_orders')}}">Ваши заказы</a>
            {% endif %}
            {% if session['user_group'] == 'user' %}
                <form action="" method="post">
                    <input type="text" name="flower_name" id="flower_name" placeholder="Введите название букета">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            {% endif%}
        </div>
        <div class="right_selection">
            {% if 'username' not in session %}
                <a href="{{ url_for('auth_bp.login')}}">Вход</a>
            {% else %}
                <a href="{{ url_for('auth_bp.logout')}}"><i class="fa-solid fa-right-from-bracket"></i></a>
            {% endif %}
        </div>
    </div>
    
    <!-- <div id="overlay">
        <div id="overlay-content">
            <span id="close-overlay">✖ Close</span>
            <div id="dynamic-content"></div>
        </div>
    </div> -->
    <div class="message">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                         {{ message }} 
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %} 
    </div>
    
    {% block content %}{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{{url_for('static', filename= 'js/app.js' )}}"></script>
<script src="{{url_for('static', filename= 'js/checkbox.js' )}}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>