{% extends "base.html" %}


{% block content %}
<div class="login">
    <h1>Логин</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
        <div class="form_group">
            <p>
                {{ form.username.label }}<br>
                {{ form.username(class="login_input") }} <br>
                {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span> 
                {%endfor%}
            </p>
        </div>
        <div class="form_group">
            <p>
                {{ form.password.label }}<br>
                {{ form.password(class="login_input")}} <br>
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span> 
                {%endfor%}
            </p>
        </div>
        <!-- <div class="form_group">
            <p>
                {{ form.user_group.label }}<br>
                {{ form.user_group(class="login_input")}} <br>
                {% for error in form.user_group.errors %}
                    <span style="color: red;">[{{ error }}]</span> 
                {%endfor%}
            </p>
        </div> -->
        <div class="checkbox">
            Внутренний пользователь?
            <label class="switch">
                <input type="checkbox" id="checkbox" value="worker">
                <span class="slider round"></span>
              </label>
        </div>
        <input type="hidden" id="hiddenRole" name="roleHidden" value="user">
        <div>{{form.submit(class="login_button")}}</div>
        
    </form>
    <p>Новый Пользователь? <a href="{{url_for('auth_bp.register')}}">Нажми сюда чтобы зарегистрироваться</a>
    </p>
</div>
{% endblock %}
