{% extends "base.html" %}
<link rel="stylesheet" href="{{url_for('static', filename= 'register.css' )}}">

{% block content %}
<div class="login">
    <h1>Регистрация</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form_group">
            <p>
                {{ form.username.label }}<br>
                {{ form.username(class="login_input") }} <br>
                {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span> 
                {%endfor%}
            </p>
        </div>
        <div class="form_group">
            <p>
                {{ form.email.label }}<br>
                {{ form.email(class="login_input")}} <br>
                {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span> 
                {%endfor%}
            </p>
        </div>
        <div class="form_group">
            <p>
                {{ form.password.label }}<br>
                {{ form.password(class="login_input")}} <br>
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span> 
                {%endfor%}
            </p>
        </div>
        <div class="form_group">
            <p>
                {{ form.password2.label }}<br>
                {{ form.password2(class="login_input")}} <br>
                {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span> 
                {%endfor%}
            </p>
        </div>
        <div >
           {{form.submit(class="login_button")}}  
        </div> 
       
    </form>
</div>
{% endblock %}